version: "3.9"

services:
  web:
    build: .
    container_name: charity_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=sqlite:///./data/charity.db
      - IMPORT_CSV=1
